@{
    ViewBag.Title = "Personal";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Hi! I am a very active guy who loves all kinds of games, sports, and adventure. I recently moved to Colorado so I
    could be right in the middle of the action. I snowboard, play pickup basketball and volleyball, and love to hike and camp.
    I am plugged in at church and like to volunteer on Sundays and during the week. I like to listen to music and play the
    guitar for fun.<br>
    <br>
    I love to give Google Reviews. Any place I go, whether it's to the tire shop or a restaurant, or a city park, if I have
    an exceptional experience (good or bad) I love recording it.<br>
    <br>
    I have a critical eye for user experience. My favorite app is Spotify. Not just for the content, but for the continual
    development of a an great product. Recently they developed the ability to stream music from the Apple Watch untethered
    from the phone. They are constantly trying new ways to organize media looking for the easiest and quickest way to get 
    to your favorite stuff. And I'm in love with the swipe gestures on iOS that allow me to queue or favorite songs with
    motion.
    <br>
    I also love to teach. It brings me so much joy to watch someone's "lightbulb" moment and to know that I got to help
    them understand something. Whether it's a sport, or a math problem, or a programming concept, I love getting to share
    what I know with others and help them to become better.
</p>