@{
    ViewBag.Title = "Contact Me!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    My Company Address
</address>
<p>Phone: (319) 432-3735</p>
<p>Email: jakebushlack@gmail.com</p>
<a href="https://www.linkedin.com/in/jakebushlack/">LinkedIn</a>