@{
    ViewBag.Title = "Home Page";
}

<div class="row jumbotron">
    <div class="col headshot">
        <img src="../../Content/Images/headshot.jpg" alt="" class="headshot">
    </div>
    <div class="col title">
        <h1>Jake Bushlack</h1>
        <p class="lead">Software Engineer</p>
        <p>
            <a href="https://www.linkedin.com/in/jakebushlack/" class="btn btn-primary btn-lg">LinkedIn &raquo;</a>
        </p>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Experience</h2>
        <p>
            I worked the first 18 months of my professional career with Comoto as a full-stack engineer using a wide range of technologies.
            I have done front-end web development work, backend database queries and integrations, and worked with containers and APIs.
            My formal academic and internship experience were not heavy in computer programming. I took a couple computing
            courses and discovered that I found great delight in the ability to create something from nothing for free and
            to be able to modify it very quickly. I ask a lot of questions, but try my best to also a responsible for my
            work individually.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Skills</h2>
        <p>
            - C#<br>
            - javascript<br>
            - HTML/CSS<br>
            - Postman<br>
            - Docker<br>
            - Microsoft SQL Server<br>
            - Agile<br>
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Goals</h2>
        <p>I am looking for an opening in web development at a company with great culture. I care a lot about the people
            that I work with. My favorite thing about Comoto is the cohesion we found on our scrum team and how we were able
            to help each other to be better than the sum of our parts!
            I will bring a great attitude and lift up my teammates. I have a strong belief in the ability to make or break
            a reputation with a few words. So I try my best to appreciate my teammates and share how much I love working
            with someone or how they make my life better.
            I am looking to fuel my passion for innovation. I have a desire for perfection. I get excited about the future
            of technology and where we could be in 10 years.
            I want to bring an excellent experience to the end user. </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>